## Importing Libraries

In [1]:
## importing libraries for loading and preprocessing data 
import numpy as np
import pandas as pd

## Reading/Loading And Creating a Copy of Dataset

In [2]:
data = pd.read_csv('Datasets/Iris_data_sample.csv')

In [3]:
## creating a deep copy of the dataset 
df1 = data.copy(deep=True)

In [4]:
df1.head()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa

In [5]:
data_2 = pd.read_csv("Datasets/Toyota.csv")

In [6]:
## creating a deep copy 
df2 = data_2.copy()

In [7]:
data3 = pd.read_table("Datasets/Iris_data_sample.txt", delimiter=" ")

In [8]:
# data3

## Understanding Dataset

In [9]:
## display first five rows
data3.head()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,4.6,3.1,1.5,0.2,Iris-setosa
5,5,5.0,3.6,1.4,0.2,Iris-setosa

In [10]:
## display the last five rows 
data3.tail()

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
146,146,6.7,3.0,5.2,2.3,Iris-virginica
147,147,6.3,2.5,5.0,1.9,Iris-virginica
148,148,6.5,3.0,5.2,2.0,Iris-virginica
149,149,6.2,3.4,5.4,2.3,Iris-virginica
150,150,5.9,3.0,5.1,1.8,Iris-virginica

In [11]:
## display n the number of rows 
data.head(7)

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
5,6,5.4,3.9,NaN,0.4,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa

In [12]:
df1.columns

Index(['Unnamed: 0', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm',
       'PetalWidthCm', 'Species'],
      dtype='object')

In [13]:
for each_item in df1.columns:
    print(each_item.lower())

unnamed: 0
sepallengthcm
sepalwidthcm
petallengthcm
petalwidthcm
species

In [14]:
df1['SepalLengthCm']

0      5.1
1      4.9
2      4.7
3       ??
4        5
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: object

In [15]:
## acceass a single value for a row/col by their label and index 
df1.at[0, 'SepalLengthCm']

'5.1'

In [16]:
df1.iat[0, 1]

'5.1'

In [17]:
## accessing a group of rows and column by their label 

df1.loc[ 0: 10, 'SepalLengthCm']

0     5.1
1     4.9
2     4.7
3      ??
4       5
5     5.4
6     4.6
7       5
8     4.4
9     4.9
10    5.4
Name: SepalLengthCm, dtype: object

In [18]:
df1.loc[50:60, 'SepalLengthCm']

50      7
51    6.4
52    6.9
53    5.5
54    6.5
55    5.7
56    6.3
57    4.9
58    6.6
59    5.2
60      5
Name: SepalLengthCm, dtype: object

In [19]:
df1.iloc[0: 10, 1]

0    5.1
1    4.9
2    4.7
3     ??
4      5
5    5.4
6    4.6
7      5
8    4.4
9    4.9
Name: SepalLengthCm, dtype: object

In [20]:
df1.loc[10:15, ]
## to put data in shape, take unnamed columns out, check number of decimal places, species has  a categorical type but it detail is object, so need to work on it

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
10,11,5.4,3.7,1.5,0.2,Iris-setosa
11,12,4.8,3.4,1.6,0.2,Iris-setosa
12,13,4.8,3.0,1.4,0.1,Iris-setosa
13,14,4.3,3.0,1.1,0.1,Iris-setosa
14,15,5.8,4.0,1.2,0.2,Iris-setosa
15,16,5.7,4.4,1.5,0.4,Iris-setosa

In [21]:
##working on the above

In [22]:
## returns size of dataset
df1.size

900

In [23]:
##Day 3
## Lets return the shape of dataset
df1.shape

(150, 6)

In [24]:
for i in df1.shape:
    print(i)

150
6

In [25]:
df1.shape[0]

150

In [26]:
df1.shape[1]

6

In [27]:
print("Total number of rows:",df1.shape[0],"Toatl number of columns:", df1.shape[1])

Total number of rows: 150 Toatl number of columns: 6

In [28]:
## return a concise summary of the dataset 
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     150 non-null    int64
 1   SepalLengthCm  150 non-null    object
 2   SepalWidthCm   149 non-null    float64
 3   PetalLengthCm  149 non-null    object
 4   PetalWidthCm   150 non-null    float64
 5   Species        149 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 7.2+ KB

In [29]:
## return 
df1.nunique()

Unnamed: 0       150
SepalLengthCm     36
SepalWidthCm      23
PetalLengthCm     44
PetalWidthCm      22
Species            3
dtype: int64

In [30]:
df1['Species'].unique()

array(['Iris-setosa', nan, 'Iris-versicolor', 'Iris-virginica'],
      dtype=object)

In [31]:
df1['SepalLengthCm'].unique()

array(['5.1', '4.9', '4.7', '??', '5', '5.4', '4.6', '4.4', '4.8', '4.3',
       '5.8', '5.7', '5.2', '5.5', '4.5', '5.3', '7', '6.4', '6.9', '6.5',
       '6.3', '6.6', '5.9', '6', '6.1', '5.6', '6.7', '6.2', '6.8', '7.1',
       '7.6', '7.3', '7.2', '7.7', '7.4', '7.9'], dtype=object)

In [32]:
df1['SepalLengthCm'].nunique()

36

In [33]:
df1['PetalLengthCm'].nunique()

44

In [34]:
df1['PetalWidthCm'].nunique()

22

In [35]:
##returns the number of missing values in each column
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     0
Species          1
dtype: int64

Data Preprocessing
*Replacing special characters
*Converting the column
*Inputingthe missing values

In [36]:
df1['SepalLengthCm'].replace("??",np.nan)

0      5.1
1      4.9
2      4.7
3      NaN
4        5
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: object

In [37]:
df1['SepalLengthCm'].unique()

array(['5.1', '4.9', '4.7', '??', '5', '5.4', '4.6', '4.4', '4.8', '4.3',
       '5.8', '5.7', '5.2', '5.5', '4.5', '5.3', '7', '6.4', '6.9', '6.5',
       '6.3', '6.6', '5.9', '6', '6.1', '5.6', '6.7', '6.2', '6.8', '7.1',
       '7.6', '7.3', '7.2', '7.7', '7.4', '7.9'], dtype=object)

In [38]:
## this replaces the ?? with nan which is pandas syntax
df1['SepalLengthCm'].replace("??",np.nan, inplace=True)

In [39]:
df1['SepalLengthCm'].replace("??",np.nan, inplace=False)

0      5.1
1      4.9
2      4.7
3      NaN
4        5
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: object

In [40]:
## this replaces the ?? with nan which is pandas syntax. this is method
df1['SepalLengthCm']=df1['SepalLengthCm'].replace("??",np.nan)

In [41]:
##df1['SepalLengthCm']=df1['SepalLengthCm'].replace("5.1",np.passed)   was trying something

In [42]:
## recheck for the special character
df1['SepalLengthCm'].unique()

array(['5.1', '4.9', '4.7', nan, '5', '5.4', '4.6', '4.4', '4.8', '4.3',
       '5.8', '5.7', '5.2', '5.5', '4.5', '5.3', '7', '6.4', '6.9', '6.5',
       '6.3', '6.6', '5.9', '6', '6.1', '5.6', '6.7', '6.2', '6.8', '7.1',
       '7.6', '7.3', '7.2', '7.7', '7.4', '7.9'], dtype=object)

In [43]:
## convert column type to float, this did not affect the original data check next one
df1['SepalLengthCm'].astype('float64')

0      5.1
1      4.9
2      4.7
3      NaN
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SepalLengthCm, Length: 150, dtype: float64

In [44]:
##convert column type to float   this affected it
df1['SepalLengthCm']=df1['SepalLengthCm'].astype('float64')

In [45]:
## return the columns and their data types
df1.dtypes

Unnamed: 0         int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm     object
PetalWidthCm     float64
Species           object
dtype: object

In [46]:
##replace ?? with missing values
df1['PetalLengthCm'] = df1['PetalLengthCm'].replace('###',np.nan)
##convert column type to float
df1['PetalLengthCm'] = df1['PetalLengthCm'].astype('float64')

In [47]:
df1['PetalLengthCm'].unique()

array([1.4, 1.3, 1.5, nan, 1.6, 1.1, 1.2, 1.7, 1. , 1.9, 4.7, 4.5, 4.9,
       4. , 4.6, 3.3, 3.9, 3.5, 4.2, 3.6, 4.4, 4.1, 4.8, 4.3, 5. , 3.8,
       3.7, 5.1, 3. , 6. , 5.9, 5.6, 5.8, 6.6, 6.3, 6.1, 5.3, 5.5, 6.7,
       6.9, 5.7, 6.4, 5.4, 5.2])

In [48]:
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    1
SepalWidthCm     1
PetalLengthCm    2
PetalWidthCm     0
Species          1
dtype: int64

In [49]:
df1.loc[10:15, ]

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
10,11,5.4,3.7,1.5,0.2,Iris-setosa
11,12,4.8,3.4,1.6,0.2,Iris-setosa
12,13,4.8,3.0,1.4,0.1,Iris-setosa
13,14,4.3,3.0,1.1,0.1,Iris-setosa
14,15,5.8,4.0,1.2,0.2,Iris-setosa
15,16,5.7,4.4,1.5,0.4,Iris-setosa

In [50]:
## Iputing missing values  for sepallength
mean_seplencm= df1['SepalLengthCm'].mean()
print(mean_seplencm)

5.851677852348993

In [51]:
##fillna is used to fill missing value
df1['SepalLengthCm'].fillna(mean_seplencm)

0      5.100000
1      4.900000
2      4.700000
3      5.851678
4      5.000000
         ...
145    6.700000
146    6.300000
147    6.500000
148    6.200000
149    5.900000
Name: SepalLengthCm, Length: 150, dtype: float64

In [52]:
##now check if above has reflected.. realised it didnt reflect sepallength is 1
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    1
SepalWidthCm     1
PetalLengthCm    2
PetalWidthCm     0
Species          1
dtype: int64

In [53]:
## this will replace it
df1['SepalLengthCm']=df1['SepalLengthCm'].fillna(mean_seplencm)

In [54]:
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     1
PetalLengthCm    2
PetalWidthCm     0
Species          1
dtype: int64

In [55]:
df1['SepalWidthCm'].fillna(mean_seplencm)

0      3.500000
1      5.851678
2      3.200000
3      3.100000
4      3.600000
         ...
145    3.000000
146    2.500000
147    3.000000
148    3.400000
149    3.000000
Name: SepalWidthCm, Length: 150, dtype: float64

In [56]:
##checking if it has reflected in the data..... we see it didn't 
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     1
PetalLengthCm    2
PetalWidthCm     0
Species          1
dtype: int64

In [57]:
df1['SepalWidthCm']=df1['SepalWidthCm'].fillna(mean_seplencm)

In [58]:
##checking now
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    2
PetalWidthCm     0
Species          1
dtype: int64

In [59]:
##another way of doing it  
df1['SepalWidthCm'] = df1['SepalWidthCm'].fillna(df1['SepalWidthCm'].mean())

In [60]:
##seletcing the value with the highest count
highest_count=df1['Species'].value_counts().index[0]

In [61]:
##replace it in the column
df1['Species']=df1['Species'].fillna(highest_count)

In [62]:
## now checking again    go and complete that of petalwidthcm yourself
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    2
PetalWidthCm     0
Species          0
dtype: int64

In [63]:
## replace ?? with missing values its also above
df1['PetalLengthCm'] = df1['PetalLengthCm'].replace("###", np.nan)
## convert column type to float 
df1['PetalLengthCm'] = df1['PetalLengthCm'].astype('float64')

In [64]:
##check why not running
df1['PetalLengthCm'] = df1['PetalLengthCm'].fillna(df1['PetalLengthCm'].mean())

In [65]:
## fixing missing values for species columns 
df1['Species'].value_counts()

Species
Iris-versicolor    51
Iris-virginica     50
Iris-setosa        49
Name: count, dtype: int64

In [66]:
## selecting the value with highest count 
highest_count = df1['Species'].value_counts().index[0]

In [67]:
## replace it in the column 
df1['Species'] = df1['Species'].fillna(highest_count)

In [68]:
df1.isnull().sum()

Unnamed: 0       0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

DAY 4  THURSDAY 21/11/2024

In [69]:
df1.loc[0:5, ]
## to put data in shape, take unnamed columns out, check number of decimal places, species has  a categorical type but it detail is object, so need to work on it

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.100000,3.500000,1.400000,0.2,Iris-setosa
1,2,4.900000,5.851678,1.400000,0.2,Iris-versicolor
2,3,4.700000,3.200000,1.300000,0.2,Iris-setosa
3,4,5.851678,3.100000,1.500000,0.2,Iris-setosa
4,5,5.000000,3.600000,3.788514,0.2,Iris-setosa
5,6,5.400000,3.900000,3.788514,0.4,Iris-setosa

In [70]:
df1.dtypes

Unnamed: 0         int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [71]:
df1['Species']= df1['Species'].astype('category')

In [72]:
df1.dtypes

Unnamed: 0          int64
SepalLengthCm     float64
SepalWidthCm      float64
PetalLengthCm     float64
PetalWidthCm      float64
Species          category
dtype: object

In [73]:
##df1.drop(['Unnamed:'], axis=1)  another method to delete the unnamed column

In [74]:
##to  delete the unnamed column
del df1['Unnamed: 0']

In [75]:
df1.columns
##this is horizontal

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [76]:
## round to 1dp
df1['SepalLengthCm']=df1['SepalLengthCm'].round(1)

In [79]:
##changing column names to lowercase, normalising our data
for each_col in df1.columns:
    print(each_col.lower())
    ##this makes it vertical

sepallengthcm
sepalwidthcm
petallengthcm
petalwidthcm
species

In [ ]:
##finding out if its a string
##print.dtype

In [80]:
##this gives direct one
df1.columns.str.lower()
##for it to affect the actual document do what below

Index(['sepallengthcm', 'sepalwidthcm', 'petallengthcm', 'petalwidthcm',
       'species'],
      dtype='object')

In [ ]:
## to affect actual data  try to complete
for each_col in df1.columns:
    df1[each]

In [81]:
df1.columns=df1.columns.str.lower()

In [82]:
## to affect actual data, all chandes to lowercase
df1.head()

   sepallengthcm  sepalwidthcm  petallengthcm  petalwidthcm          species
0            5.1      3.500000       1.400000           0.2      Iris-setosa
1            4.9      5.851678       1.400000           0.2  Iris-versicolor
2            4.7      3.200000       1.300000           0.2      Iris-setosa
3            5.9      3.100000       1.500000           0.2      Iris-setosa
4            5.0      3.600000       3.788514           0.2      Iris-setosa

In [83]:
##ssaving dataframe as csv data
df1.to_csv('clean_iris_dataset.csv')